# Note that not all variables here might be in use for your selected configuration
# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL=postgresql://postgres:hytdur-gyRnu5-tuptic@localhost:5432/stockmanager

# Next Auth
NEXTAUTH_SECRET=abc
NEXTAUTH_URL=http://192.168.0.5:3000

# Next Auth Github Provider
GITHUB_CLIENT_ID=Iv1.f6d62c90699fa6f2
GITHUB_CLIENT_SECRET=792be93153e240eb2c297003b2d1fc6d24bebc1d